.navbar-logo {
  background-color: #008ccf;
  align-items: center;
  justify-content: center;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.chip-spacing {
  line-height: 2.5rem;
}

.danger {
  color: red;
}

.safe {
  color: black;
}

.btn-key {
  width: 200px;
  border-radius: 20px;
  height: 20px;
  margin: 20px;
  padding: 20px;
  background-color: lightblue;
}

.circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px #008ccf;
}
.rectangle-img {
  width: 400px;
  height: 200px;
  box-shadow: 0px 0px 30px #008ccf;
  margin-top: 20px;
}

.textFieldDescription {
  height: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// .MuiTextField-root	{
//   background-color: aqua;
// }
