.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.padding {
  padding: 30px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.border-img {
  border: 2px solid black;
}

.relative2 {
  padding-top: 1.6rem;
}

.spacer {
  margin-top: 1rem;
}

.interests-container {
  text-align: center;
}

.title-header {
  margin-bottom: 20px;
  font-family: Marguerite, sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.top-container {
  background-color: rgba(228, 217, 217, 0.371);
}

.Sender {
  display: flex;
  justify-content: flex-end;
}

.Reciever {
  display: flex;
  justify-content: flex-start;
}

.SenderMsg {
  background-color: #008ccf;
  color: white;
  // border: 3px solid red;
  font-weight: 800 !important;
}

.RecieverMsg {
  background-color: #E1E1E1;
  color: black;
}