.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.padding {
  padding: 30px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.relative {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.border-img {
  border: 2px solid black;
}

.interests-container {
  text-align: center;
}

.title-header {
  margin-bottom: 20px;
  font-family: Marguerite, sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.top-container {
  background-color: rgba(228, 217, 217, 0.371);
}

.button-left-color {
  background-color: #ff8d8d;
  color: white;
  border: none;
}

.button-right-color {
  background-color: #72ae78;
  color: white;
  border: none;
}

#button-left {
  opacity: 80%;
  position: absolute;
  top: 360px;
  left: 650px;
  width: 50px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: #ce0e0e;
}

#button-left,
#button-left span {
  transition: 200ms;
}

#button-left .text {
  transform: translateX(5px);
  color: white;
  font-weight: bold;
}

#button-left .icon {
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-left svg {
  fill: white;
}

#button-left:hover {
  background: #ff3636;
}

#button-left:hover .text {
  color: transparent;
}

#button-right {
  opacity: 80%;
  position: absolute;
  top: 360px;
  right: 650px;
  width: 50px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: green;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: green;
}

#button-right,
#button-right span {
  transition: 200ms;
}

#button-right .text {
  transform: translateX(5px);
  color: white;
  font-weight: bold;
}

#button-right .icon {
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-right svg {
  fill: #eee;
}

#button-right:hover {
  background: rgb(14, 183, 14);
}

#button-right:hover .text {
  color: transparent;
}

//loading spinner

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 6px solid black;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 6px solid black;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 6px solid black;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
